<!DOCTYPE html>
<html ng-app='formValidationApp'>
<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>Form Validation App</title>
</head>
<body ng-controller='RegistrationController as reg'>
<h1 >Simple Form Validation</h1>
<fieldset>
  <legend>Sign Up Page</legend>
  <form name="regForm" novalidate>
    <input type="text" name="userName" placeholder="Pick a User Name"
    reg.completed='false'
    ng-model=reg.user.username
    required minlength="4" ng-maxlength='15'>
    <span ng-if='(regForm.userName.$error.minlength || regForm.userName.$error.required) && regForm.userName.$touched'>
      UserName must be at least 4 Characters long
    </span>
    <span ng-if='regForm.userName.$error.maxlength  && regForm.userName.$touched'>
      UserName must not be longer than 10 Characters
    </span>
    <br>
    <input type="email" name="email"
    required ng-model='reg.user.email' placeholder="Email-id">
    <span ng-if='regForm.email.$invalid && regForm.email.$touched'>
      Not in a valid format of (username@domainName) format
    </span>
    <br>
    <input type="text" name="mobile" placeholder="Enter mobile number"
    ng-model="reg.user.mobile" pattern="\d{10}">
    <span ng-if='regForm.mobile.$invalid && regForm.mobile.$touched'>
      Mobile Number should be consisting of 10 digits only
    </span>
    <br>
    <button
    ng-disabled='regForm.$invalid'
    ng-click='reg.submit()'>
      Submit
    </button>
    <br><br>
    <div ng-if='regForm.$valid'>Form is Valid</div>
    <div ng-if='regForm.$invalid reg.clear()'>Form is Not Valid</div>
  </form>
</fieldset>
<br>
<div id='info' ng-if='regForm.$valid && reg.completed'>
  UserName: {{reg.user.username}}<br>
  E-mail: {{reg.user.email}}<br>
  Mobile no: {{reg.user.mobile}}
</div>
<script type="text/javascript" src='lib/angular.min.js'></script>
<script type="text/javascript" src='src/app.js'></script>
</body>
</html>