body{
  background-color: #61111f;
}
h1{
  color:#f6b319;
}
h2{
  color:maroon;
}
span{
  font-weight: bold;
  font-size:20px;
  color:green;
}
li{
  color:#eb6134;
  font-size:24px;
}


.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}
